dist/

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.swp

*.hi
*.o

*~

.cabal-sandbox
cabal.sandbox.config

Paths*

hcar/arte_screenshot2.jpg

*.prof
*.hp
*.ps
*.aux

spikes.txt
decoding.txt

*.avi

arte-time-sync/arte-time-sync
